{% extends "./base.html" %}
{% load crispy_forms_tags %}    <! crispy form for bootstrap effect >


{% block content%}
<!--

//-->
<div class="text-center">
  <img height="300px"  class="m-5"  src="https://www.linkpicture.com/q/bgtshirt.jpg" alt="">
</div>
<div class="text-center">
  <p><strong><em>ShirtIsta- A T-shop Company Limited</strong></em></p>
</div>
<div>
  <h3 class="p-1 mb-1 bg-danger text-white text-center">Store Address:</h3>
  <h5 class="lead text-center"><span><strong><em>No.3 9th MAIN 2nd CROSS, <br>GB Palya Road, NEAR ICICI ATM, Jayanagar,<br> Bengaluru, Karnataka 560041</span></h5>
  </em></strong><br>
  <h4 style="color:rgb(67, 48, 240);" class="lead text-center "><span><strong>WORKING HOURS : 10AM - 9PM (ALL DAYS)</strong></span></h4>
  <h4 style="color:#ffffff;" class="lead text-center btn-success "><span><strong>Contact : 8792437224</strong></span></h4>
  <h6 class="lead text-center">Email: shirtista@gmail.com </h6>
</div>
<br>



{% endblock %}